asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
Django==5.2.3
fusepy==3.0.1
gunicorn==23.0.0
idna==3.10
mock==5.2.0
mtkclient @ git+https://github.com/bkerler/mtkclient.git@3093e652339352dca0806b9f3d6a2b4384a992ae
numpy==2.3.0
opencv-python==4.11.0.86
packaging==25.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6-WebEngine==6.9.0
PyQt6-WebEngine-Qt6==6.9.1
PyQt6_sip==13.10.2
pyserial==3.5
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
pytube==15.0.0
pyusb==1.3.1
requests==2.32.4
shiboken6==6.9.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.9.0
yt-dlp==2025.6.9
